.btn{
  border-radius: 0;
}

.line-top{
  border-top: 1px solid #cecece;
}

.special-form{
  margin-top: 20px;
}

.marginBottom {
  margin-bottom: 20px;
}

.link-x{
  color: #6a6a6c;
  text-underline: cyan;
}

.nav-head{
  cursor: pointer;
}

.rating-text{
  position: relative;
  bottom: 7px;
}

.pointer{
  cursor: pointer;
}

.link-title{
  color: black;
  text-decoration-line: none;
}

.table-list{
  width: max-content;
}

.white-text{
  color: white;
}

.cart-remove-btn{
  position: relative;
  float: right;
  top: 0;
  margin: 0;
}